/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts7, span.rvts7 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts8
{
}
span.rvts9
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts10
{
 font-weight: bold;
 color: #000080;
}
span.rvts11
{
 font-style: italic;
 color: #800000;
}
a.rvts12, span.rvts12
{
 color: #008000;
 text-decoration: underline;
}
span.rvts13
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts14
{
 font-size: 13pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts15
{
 font-size: 13pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
span.rvts16
{
 font-size: 13pt;
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts17
{
 font-size: 13pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
span.rvts18
{
 font-size: 13pt;
 font-family: 'Calibri';
}
span.rvts19
{
 font-size: 13pt;
 font-family: 'Calibri';
 color: #000000;
}
span.rvts20
{
 font-size: 13pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
 text-decoration: underline;
}
span.rvts21
{
 font-size: 12pt;
 font-family: 'Calibri';
 color: #000000;
}
span.rvts22
{
 font-size: 14pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
span.rvts23
{
 font-size: 13pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
span.rvts24
{
 font-size: 13pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
 color: #000000;
}
span.rvts25
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
span.rvts26
{
 font-size: 13pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #3c3c3c;
}
span.rvts27
{
 font-size: 14pt;
 font-family: 'Courier New', 'Courier', monospace;
 font-weight: bold;
 color: #000000;
}
span.rvts28
{
 font-size: 13pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
span.rvts29
{
 font-size: 13pt;
 font-family: 'Calibri';
 color: #3c3c3c;
}
span.rvts30
{
 font-size: 13pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #3c3c3c;
}
span.rvts31
{
 font-family: 'Times New Roman', 'Times', serif;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2 /* Paragraph Style */
{
 text-align: center;
 margin: 10px 0px 10px 0px;
}
.rvps3
{
}
.rvps4
{
 text-align: center;
}
.rvps5
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 7px 0px 7px 0px;
}
.rvps6
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps7
{
 margin: 7px 0px 7px 0px;
}
.rvps8
{
 text-align: justify;
 text-align-last: auto;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 19px 0px 19px 0px;
}
.rvps9
{
 text-align: center;
 margin: 7px 0px 7px 0px;
}
.rvps10
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 19px 0px 19px 0px;
}
.rvps11
{
 margin: 16px 0px 16px 0px;
}
.rvps12
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 margin: 7px 0px 23px 0px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: decimal;}
